{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="init">
    <h3>Parabéns! Você está logado</h3>
    <small>Clique em 'Ações de Usuário' caso queira alterar seus dados, fazer logout ou excluir seu cadastro.</small>

    <h3>Seus dados</h3>
    <p>Seu nome de usuário é {{ user.get_username }}</p>
    <p>Seu email é {{ user.email }}</p>
    <p>Seu nome é {{ user.get_full_name }}</p>
    <p>Sua senha(hash) é {{ user.password }}</p>


</div>

{% endblock content %}