{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col vert-cent">
      <img src="{% static 'media/resh_log.png' %}" width="auto" height="auto "/> 
    </div>

    <div class="col vert-cent">
      <form method="POST">
        <div class="form-group">
          {% csrf_token %}
          {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Registre</button>
      </form>
    </div>

  </div>
</div>
  

{% endblock content %}